{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}

{% case section.settings.grid %}
{% when '1' %}
{%- assign column = 'one-column' -%}
{% when '2' %}
{%- assign column = 'two-column' -%}
{% when '3' %}
{%- assign column = 'three-column' -%}              
{% when '4' %}
{%- assign column = 'four-column' -%}              
{% when '5' %}
{%- assign column = 'five-column' -%}   
{% when '6' %}
{%- assign column = 'six-column' -%}   
{% else %}
{%- assign column = 'five-column' -%}              
{% endcase %} 
{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" data-style="parallax" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}"> 
      {% render 'section-heading', class: section.id %} 
      <div class="image-bar__section">
        {% if section.settings.image_list_text != blank  and section.settings.image_list_text != blank %}
        	<a href="{{section.settings.image_list_link}}" class="dt-sc-image-list-btn">{{section.settings.image_list_text}}</a>
        {% endif %}
        {%- if section.blocks.size > 0 -%}
        <ul class="image-bar__section-inner dt-sc-column {{column}}">
          {%- for block in section.blocks -%}
          <li class="image-bar__item" {{ block.shopify_attributes }}>
            {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}">
              {%- endif -%}
              {%- if block.settings.image != blank -%}
              {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt }}
              {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
              {%- endif -%}
              {%- if block.settings.link != blank -%}
            </a>
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
    </div>
    
  </div>
</div>


<style>
  
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); background:{{ section.settings.section_button_bg_color }}; 
    color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; 
  }
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
    color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; 
  }
  
  #shopify-section-{{section.id}}.home-image-gallery .dt-sc-overlay:before  { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};    
      background: currentcolor; 
      opacity: {{ section.settings.overlay_transparency }}; 
      }
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__item svg {
    min-width: 150px;
    height: auto;
  }
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section .image-bar__section-inner { margin: 0; }
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section .dt-sc-image-list-btn { position: absolute; padding: 20px 80px; border-radius: var(--DTRadius); }
    
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section .dt-sc-image-list-btn { background: var(--DT_Button_BG_Color); background-color: {{ section.settings.image_link_bg_color }};
  color: var(--DT_Button_Text_Color); color: {{ section.settings.image_link_text_color }}; }
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section .dt-sc-image-list-btn:hover { background: var(--DT_Button_BG_Hover_Color);
  background-color: {{ section.settings.image_link_hover_bg_color }};
  color: var(--DT_Button_Text_Hover_Color); color: {{ section.settings.image_link_hover_text_color }}; }
  
  #shopify-section-{{section.id}}.home-image-gallery .image-bar__section-inner { gap: {{ section.settings.column_gap}}px; }  
  
</style>

{% schema %}
{
  "name": "Image list",
  "class": "index-section home-image-gallery",
  "max_blocks": 10,
  "settings": [
     {
    "type": "checkbox",
    "id": "full",
    "label": "Show Full width"
    },
    {
    "type": "checkbox",
    "id": "spacing_both_ends",
    "label": "Enable Right & Left Spacing (Works only on Fullwidth)",
    "default": false
    },
    {
    "type": "text",
    "id": "padding",
    "label": "Style value (Padding)",
    "default":"0,0",
    "info":"Top(px),Bottom(px)"
    },
    {
    "type": "text",
    "id": "margin",
    "label": "Style value (Margin)",
    "default":"0,0",
    "info":"Top(px),Bottom(px)"
    },
  {
  "type": "checkbox",
  "id": "enable_overlay",
  "label": "Enable Background Color (Used as Background Image Overlay Color too)"
  },
  {
  "type": "color",
  "id": "background_color",
  "label":"Background color"
  },
  {
  "type": "text",
  "id": "overlay_transparency",
  "label": "Overlay Transparency (0.01 to 1)",
  "default": "0.5"
  },
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Image list"
},
{
"type": "text",
"id": "image_list_heading",
"label": "Image List Heading",
"default": "Instagram"
},
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "text",
"id": "image_list_text",
"label": "Image Link text"
},
{
"type": "url",
"id": "image_list_link",
"label": "Image Link URL"
},
{
        "type": "header",
        "content": "Section Color settings"
        },
        {
        "type": "color",
        "id": "section_heading_color",
        "label": "Heading color"
        },    
        {
        "type": "color",
        "id": "section_sub_heading_color",
        "label": "Sub heading color"
        },   
        {
        "type": "color",
        "id": "section_description_color",
        "label": "Description color"
        },  
        {
        "type": "color",
        "id": "section_button_bg_color",
        "label": "Button bg color"
        },   
        {
        "type": "color",
        "id": "section_button_text_color",
        "label": "Button text color"
        },   
        {
        "type": "color",
        "id": "section_button_hover_bg_color",
        "label": "Button hover bg color"
        },   
        {
        "type": "color",
        "id": "section_button_hover_text_color",
        "label": "Button hover text color"
        },
        {
        "type": "color",
        "id": "image_link_bg_color",
        "label": "Image Link bg color"
        },   
        {
        "type": "color",
        "id": "image_link_text_color",
        "label": "Image Link text color"
        },   
        {
        "type": "color",
        "id": "image_link_hover_bg_color",
        "label": "Image Link hover bg color"
        },   
        {
        "type": "color",
        "id": "image_link_hover_text_color",
        "label": "Image Link hover text color"
        }, 
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
},
{
"type": "header",
"content": "Block Settings"
},
{
"type": "select",
"id": "grid",
"label": "Items per row",
"default": "5",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
}
]
},
{
"type": "text",
"id": "column_gap",
"label": "Column Gap",
"default":"30",
"info": "Units not needed"
}
  ],
  "blocks": [
    {
      "type": "image_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image list",
      "category": "Image",
      "blocks": [
        {
          "type": "image_image"
        },
        {
          "type": "image_image"
        },
        {
          "type": "image_image"
        },
        {
          "type": "image_image"
        }
      ]
    }
  ]
}
{% endschema %}